/* Add screen styles below */
html {
    background: #e3e3e3;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 20px;
    color: #242424;
    border-top: 20px solid #242424;
    background: #fff;
}

h1{
    font-size: 2.7em;
    margin: 0;
    text-align: center;
}

h2 {
    color:#343434;
    font-size: 1.8em;
    padding: 10px;
}

h3 {
    color:#444444;
    font-size: 1.5em;
    padding: 10px;
    margin: 20px;
    text-wrap: balance;
}

div {
    line-height: 1.47em;
    font-size: 1.1em;
    padding: 10px;
}

p {
    color: #4A4A4A;
    font-size: 1.1em;
}

.heading {
    position: sticky;
    top: 50px;
    color: #343434;
    float: right;
}

#blog {
    border-top: 3px dotted #ccc;
}

section {
    color: #343434;
    display: flex;
}

.blog-post {
    border-bottom: 3px dotted #ccc;
    padding: 10px;
    margin: 10px;
}

.newsletter {
    display: flex;
}

header {
    padding: 20px;
    margin: 10px;
    background: #ccc;
}

img {
    padding: 10px;
    margin: 10px;
}

a[li] {
    padding: 10px;
    margin: 10px;
    color: black;
}

.me {
    float: center;

}

form {
    margin: 5px;
    padding: 5;
}

.about-me {
    padding: 10px;
    margin: 10px;
    color: #444444;
    text-align: left;
}

.question {
    padding: 10px;
    margin: 10px;
}

.txt {
    text-align: center;
    padding: 10px;
    margin: 10px;
}